body {
    background-color: #d3cdb1;
    padding: 40px;
    text-align: center;
    font-size: 16pt;
}

h1{
    font-size: 46pt;
}

.button-ivan{
    font-size: 16pt;
    padding: 10px;
}

button{
    width: 60px;
    height: 60px;

}

button.number{
    background: aliceblue;
    font-size: 30px;
}