body {
    background-color: #d3cdb1;
    padding: 40px;
    text-align: center;
    font-size: 16pt;
}

input {
    font-size: 30px;
}

h1{
    font-size: 46pt;
}

button{
    width: 60px;
    height: 60px;

}

button.number{
    background: aliceblue;
    font-size: 30px;
}

.button-minus{
    background: brown;
    border: 1px solid whitesmoke;
    padding: 15px 25px;
    font-size: 20px;
}
